<div class="achievements">
    <p class="achievements-top">دستاوردهای جاویدان صنعت</p>
    <div class="achievements-items">
        <div class="achievement">
            <p class="achievement-top">+۳۰۰</p>
            <p class="achievement-text">
                مرکز خدمات خودرو که با مشاوره و خدمات جاویدان صنعت بالاترین امتیاز را از ISQI گرفته‌اند.
            </p>
        </div>
        <div class="achievement">
            <p class="achievement-top">+۳۵۰۰</p>
            <p class="achievement-text">دستگاه که در نتیجه پشتیبانی جاویدان صنعت بدون وقفه کار میکنند</p>
        </div>
        <div class="achievement">
            <p class="achievement-top">+۲۵٪</p>
            <p class="achievement-text">افزایش راندمان تجهیزات مشتریان در نتیجه استفاده از برنامه نگهداری جاویدان صنعت سرویس</p>
        </div>
    </div>
</div>
