<div class="commitments">
    <div class="commitments-top">تعهدات جاویدان صنعت</div>
    <div class="commitments-items">
        <div class="commitments-boxes">{% include "mixins/box.html" with text="سال خدمات پس از فروش" icon="۱۰" %}</div>
        <div class="commitments-boxes">{% include "mixins/box.html" with text="سال گارانتی" icon="۱" %}</div>
        <div class="commitments-boxes">
            {% include "mixins/box.html" with text="نصب رایگان" icon="<i class='fa-solid fa-wrench'></i>" %}
        </div>
    </div>
</div>
