<div id="navbar-top-bar" class="navbar-top-bar">
    <div class="phone-number">04135420988</div>
    <div id="social-icons" class="social-icons">
        <div class="fa-icon-holder">
            <i class="fa fa-instagram fa-xl" aria-hidden="true"></i>
        </div>
        <div class="fa-icon-holder">
            <i class="fa fa-telegram fa-xl" aria-hidden="true"></i>
        </div>
        <div class="fa-icon-holder">
            <i class="fa fa-whatsapp fa-xl" aria-hidden="true"></i>
        </div>
    </div>
</div>
<nav class="navbar">
    <div class="menu">
        <div class="fa-icon-holder">
            <i class="fa fa-bars fa-xl" aria-hidden="true"></i>
        </div>
    </div>
    <div class="heading">
        <a class="heading-top">گروه جاویدان صنعت</a>
        <a class="heading-button">فردای روشن خدمات</a>
    </div>
    <img class="logo"
         height="73px"
         width="90px"
         alt="logo"
         src="../../static/image/arm2000.webp" />
</nav>
