<div id="navbar-top-bar" class="navbar-top-bar">
    <div id="social-icons" class="social-icons">
        <a href="https://www.instagram.com/javidan_sanat.ir?igsh=MzRlODBiNWFlZA=="
           class="fa-icon-holder">
            <i class="fa-brands fa-instagram fa-2xl" aria-hidden="true"></i>
        </a>
        <a href="https://t.me/jskp_academy" class="fa-icon-holder">
            <i class="fa-brands fa-telegram fa-2xl" aria-hidden="true"></i>
        </a>
        <a class="fa-icon-holder">
            <i class="fa-brands fa-whatsapp fa-2xl" aria-hidden="true"></i>
        </a>
    </div>
    {% if not search %}
        {% include "mixins/search-bar.html" %}
    {% endif %}
    <a class="phone-number" href="tel:04135420988">04135420988</a>
</div>
<nav class="mobile-navbar">
    <div class="backdrop" id="backdrop"></div>
    <div class="side-menu" id="side-menu">
        <div class="a-container">
            <a href="{% url "core:home" %}">
                <img src="/static/image/arm2000.webp" />
            </a>
            {% include "mixins/side-menu-search-bar.html" %}
            <a href="{% url "entities:list" %}?entity_type=PT">تجهیزات</a>
            <a href="{% url "entities:list" %}?entity_type=SR">خدمات</a>
            <a href="{% url "entities:list" %}?entity_type=CL">آموزش</a>
            <a href="{% url "entities:list" %}?entity_type=PR">پروژه ها</a>
            <a href="{% url "entities:list" %}?entity_type=EV">رویداد ها</a>
            <a href="#">درباره ما</a>
            <div id="contact-us-mobile">ارتباط با ما</div>
        </div>
    </div>
    <div class="fa-icon-holder" id="menu-button">
        <i class="fa-solid fa-bars fa-xl" aria-hidden="true"></i>
    </div>
    <div class="heading">
        <a href="{% url "core:home" %}" class="heading-top">گروه جاویدان صنعت</a>
        <a href="{% url "core:home" %}" class="heading-bottom">فردای روشن خدمات</a>
    </div>
    <a href="{% url "core:home" %}" class="logo-a">
        <img class="logo" alt="logo" src="../../static/image/arm2000.webp" />
    </a>
</nav>
<nav class="desktop-navbar">
    <a class="heading" href="{% url "core:home" %}">گروه جاویدان صنعت</a>
    <a href="{% url "core:home" %}" class="logo-a">
        <img class="logo"
             height="73px"
             width="90px"
             alt="logo"
             src="../../static/image/arm200.webp" />
    </a>
</nav>
<div class="desktop-menu">
    <a href="{% url "entities:list" %}?entity_type=PT">تجهیزات</a>
    <a href="{% url "entities:list" %}?entity_type=SR">خدمات</a>
    <a href="{% url "entities:list" %}?entity_type=CL">آموزش</a>
    <a href="{% url "entities:list" %}?entity_type=PR">پروژه ها</a>
    <a href="{% url "entities:list" %}?entity_type=EV">رویداد ها</a>
    <a href="#">درباره ما</a>
    <div id="contact-us-desktop">ارتباط با ما</div>
</div>
<div class="to-top" id="to-top">
    <p>ابتدای صفحه</p>
    <i class="fa fa-chevron-up fa-lg" aria-hidden="true"></i>
</div>
