{% extends "base.html" %}
{% block title %}
    خانه
{% endblock title %}
{% block content %}
    <section class="main-section">
        {% include "partials/search-bar-main.html" %}
        {% include "partials/slideshow.html" with slideshow=TopSlideshow %}
        {% include "partials/announce.html" %}
        <!-- {% include "partials/features.html" %} -->
        {% include "partials/brands.html" %}
        {% include "partials/achievements.html" %}
        {% include "partials/commitments.html" %}
        {% include "partials/projects-slideshow.html" with slideshow=ProjectSlideShow %}
        {% include "partials/events-slideshow.html" %}
        {% include "partials/suppliers.html" %}
        {% include "partials/visit-cards.html" %}
    </section>
{% endblock content %}
